*{
    margin: 0;
}

.titulo{
    background-color: yellow;
    text-align: center;
    padding: 30px;
}

.menu{
    background-color: black;
    text-align: center;
    margin: 0;
}

.menu li{
    display: inline-block;
}

.menu a{
    padding: 30px;
    color: rgb(11, 239, 113);
    text-decoration: none;
    display: block;
}

.menu a:hover{
    background-color: rgb(59, 93, 94);
    font-size: large;
}

.logo{
    width: 250px;
    height: 250px;
}

h2{
    text-align: center;
    color: orange;
}

.definicion{
    width: 60%;
    float: right;

}

.foto1{
    width: 350px;
    height: 200px;
    padding: 50px;
}

.imagen1{
    width: 40%;
    float: left;
}

.historia{
    width: 60%;
    float: left;
}

.imagen2{
    width: 40%;
    float: right;
}

.foto2{
    width: 400px;
    height: 350px;
    padding: 30px;
}

.parrafo{
    background-color: rgb(251, 244, 235);
}

footer{
    text-align: center;
}