*{
    margin: 0;
    padding: 0;
    /*se cambia el modelo de la pagina*/
    box-sizing:border-box ;
}

html{
    background-image: url(/Imagenes/america.png);
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    /*background-attachment: fixed;*/
    background-size: cover;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    /*se adapta a cualquier tamaño de pantalla*/
    font-size: 1.5em;
    /*ocupe toda la pantalla*/
    min-height: 100%;
}

body > *{
     box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  padding: 10px;
  text-align: center;

}

body{
     display: grid; /* proporciona una cuadrícula de una sola columna */
      gap:10px; /*Separación de los elementos */     
}

body{
    grid-template-areas: 
    "header" 
    "nav"
    "article"
    "aside"
    "footer";
}

.header{
    grid-area: header;
    background-color: aqua;
}

.nav{
    grid-area: nav;
    background-color: blueviolet;
}

.article{
    grid-area: article;
    background-color: chartreuse;
}

.aside{
    grid-area: aside;
    background-color: chocolate;
}

.footer{
    grid-area: footer;
    background-color: darkgoldenrod;
}


img:hover{
    filter: blur(5px);/*efecto desemfoque*/
    /*filter: grayscale(50%);*/
    /*filter: sepia (70%);*/
    /*filter: saturate(80%);*/
    
    
}

/* PSEUDOCODIGO es una palabra clave que se añade a los selectores y que especifica un estado especial del elemento seleccionado*/

/* tamaño tablet*/
@media (min-width:600px){
    body{
       grid-template-columns: 200px auto; 
       grid-template-rows: 100px 50px auto 100px;
       grid-template-areas: 
       "header header"
       "nav nav"
       "aside article"
       "footer footer"
       ;
    }
}

/*  tamaño escritorio*/

@media (min-width:900px){
    body{
        grid-template:
        "header header header" 100px
        "nav article aside " auto
        "footer footer footer" 100px /
        200px auto 200px ;
    }
}