*{
    margin: 0;
}

.menu{
    width: 500px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    list-style: none;
}

.lista > li{
    float: left;
}

.lista li a{
    background-color: rgb(233, 39, 39);
    color: chartreuse;
    text-decoration: none;
    padding: 10px 12px;
    display: block;
}

.lista li a:hover{
    background-color: rgb(58, 157, 238);
}

.lista li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}

.lista li:hover > ul{
    display: block;
}

.lista li ul li{
    position: relative;
}

.fotos h1{
    text-align: center;
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
}
.imagenes{
    background-color: red;
    padding: 10px;
}

.turismo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.postal{
    padding: 0 30px 30px;
}

.postal img{
    width: 250px;
    height: 200px;
}

img:hover{
    opacity: .5;
    transition: .5s;
}

.historia{
    background-color: red;
    padding: 10px;

}

.parrafos{
    background-color: ghostwhite;
}

.imglima{
    width: 600px;
    height: 500px;
}

.simbolos{
    background-color: red;
    padding: 20px;
}