*{
    margin: 0;
}

html{
   
}

.menu{
    background-color: rgb(8, 22, 174);
    text-align: center;
    margin: 0px;
}
.menu li{
    display: inline-block;
}

.menu a{
    padding: 30px;
    color: rgb(98, 178, 220);
    text-decoration: none;
    display: block;
}

.menu a:hover{
    background-color: rgb(86, 44, 226);
    font-size: large;
}

.america{
    background-color: rgb(81, 136, 239);
    text-align: center;
    color: #f4fa47;
    height: 50px;
    padding: 20px ;
}
.central{
    background-color: rgb(75, 134, 206);
    color: rgb(209, 240, 72);
    text-align: center;
    overflow: hidden; /*Quitar el espacio sup.*/ 
    /*padding: 40px;*/
}

.contorno{
    text-align: center; 
    font-family: Arial Black; 
    font-weight: bold; 
    font-size: 30px; 
    color: #fff;
    /* somb-x | somb-y | desenf-radio | color 
    text-shadow: -3px 0 rgb(230, 22, 22), 0 3px rgb(223, 20, 20), 3px 0 rgb(237, 18, 18), 0 -3px rgb(223, 14, 14);*/
}
.neon{
    text-align: center; 
    font-family: Arial; 
    font-size: 30px; 
    COLOR: #1278BF; 
    text-shadow: 0px 0px 30px #e53116; */  
}

.l3d{
    text-align: center; 
    font-family: Arial Black; 
    font-weight: bold; 
    font-size: 30px; 
    color: #fff; 
    text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);
    */
}

.foto{
    width: 500px;
    height: 500px;
    margin: auto;
}

.foto img{
    width: 100%;
    height: 100%; 
    object-fit: contain;
    object-position: 10px 20px;
}
caption{
    font-size: 20px;
    color: #1278BF;
}
table{
     width: 70%;
     margin: 0 auto;
     border-spacing: 0;       
}
.tabla{
    width: 70%;
    height: 50%;
}
.cabeza{
    background-color: rgb(137, 232, 241);
    color: darkblue;
}
td, tr{
    width: 25%;
    text-align: center;
    border: 1px solid red;
    padding: 2px;
}
.datos{
    background-color: dodgerblue;
    text-align: center;
}
.facebook{
    width:40px ;
    height: 40px;
    
}
.instagram{
    width: 40px;
    height: 40px;
}

