*{
    margin: 0;
}

.titulo{
    background-color: yellow;
    text-align: center;
    padding: 30px;
}


.menu{
    background-color: black;
    text-align: center;
    margin: 0;
}
ul{
    list-style: none;
}


.menu li{
    display: inline-block;
}

.menu a{
    padding: 30px;
    color: rgb(11, 239, 113);
    text-decoration: none;
    display: block;
}

.lista li ul{
    display: none;
    position: absolute;
}

.lista li:hover > ul{
    display: block;
}

.lista li > ul > li >a{
    background-color: black;
}
.menu a:hover{
    background-color: rgb(59, 93, 94);
    font-size: large;
}

.logo{
    width: 250px;
    height: 250px;
}

h2{
    text-align: center;
    color: orange;
}

.definicion{
    width: 60%;
    float: right;
    text-align: justify;

}

.foto1{
    width: 350px;
    height: 200px;
    padding: 50px;
}

.imagen1{
    width: 40%;
    float: left;
}

.historia{
    width: 60%;
    float: left;
    text-align: justify;
}

.imagen2{
    width: 40%;
    float: right;
}

.foto2{
    width: 400px;
    height: 350px;
    padding: 30px;
}

.parrafo{
    background-color: rgb(251, 244, 235);
}

footer{
    background-color: white;
    height: 0px;
    padding: 55% 0 0 0;
    text-align: center;
}

.fondo{
    background-color: black;
    color: yellow;
    text-align: center;
}